<div class="panel panel-default editor-item">
  <div class="panel-heading">
    <h3 class="panel-title">{{item.synopsis}}</h3>
  </div>
  <div class="panel-footer">
    <span class="text-left badge">
      {{badge}}
    </span>
    <span class="pull-right">
      {{yield}}
    </span>
  </div>
</div>
