{{#if enabled}}
  <div {{action 'toggleModal'}} class="custom-modal custom-modal-show">
    <button class="custom-modal-close" {{action "hideModal"}}>&times;</button>
    <div class="custom-modal-body">
      {{yield}}
    </div>
  </div>
  <div class="custom-modal-backdrop" {{action "hideModal"}}></div>
{{/if}}
