<div class="item">
  <div class="header">Getting Started</div>
  <div class="menu">
    {{#link-to 'demo-semantic.index' class='item'}}Introduction{{/link-to}}
    {{#link-to 'demo-semantic.usage' class='item'}}Usage{{/link-to}}
    {{#link-to 'demo-semantic.upgrading' class='item'}}Upgrading from 1.0{{/link-to}}
  </div>
</div>

{{#link-to 'demo-semantic.base-mixin' class='item'}}Base Mixin{{/link-to}}
{{#link-to 'demo-semantic.accordion' class='item'}}Accordion{{/link-to}}
{{#link-to 'demo-semantic.checkbox' class='item'}}Checkbox{{/link-to}}
{{#link-to 'demo-semantic.dimmer' class='item'}}Dimmer{{/link-to}}
{{#link-to 'demo-semantic.dropdown' class='item'}}Dropdown{{/link-to}}
{{#link-to 'demo-semantic.embed' class='item'}}Embed{{/link-to}}
{{#link-to 'demo-semantic.modal' class='item'}}Modal{{/link-to}}
{{#link-to 'demo-semantic.nag' class='item'}}Nag{{/link-to}}
{{#link-to 'demo-semantic.popup' class='item'}}Popup{{/link-to}}
{{#link-to 'demo-semantic.progress' class='item'}}Progress{{/link-to}}
{{#link-to 'demo-semantic.radio' class='item'}}Radio{{/link-to}}
{{#link-to 'demo-semantic.rating' class='item'}}Rating{{/link-to}}
{{#link-to 'demo-semantic.search' class='item'}}Search{{/link-to}}
{{#link-to 'demo-semantic.shape' class='item'}}Shape{{/link-to}}
{{#link-to 'demo-semantic.sidebar' class='item'}}Sidebar{{/link-to}}
{{#link-to 'demo-semantic.sticky' class='item'}}Sticky{{/link-to}}
{{#link-to 'demo-semantic.tab' class='item'}}Tab{{/link-to}}
{{#link-to 'demo-semantic.transition' class='item'}}Transition{{/link-to}}
