<h3>Column sets <small>simple table</small></h3>
{{models-table data=model columns=columns columnSets=columnSets}}

<hr>

<h3>Columns sets <small>server paginated table - <u>usage only for RESTAdapter</u></small></h3>
{{models-table-server-paginated data=model columns=columns columnSets=columnSets}}
