<h3>Route cells <small>simple table</small></h3>

<p class="alert alert-info">firstName cell is a link to the route for model in the row.</p>

{{models-table data=data columns=columns}}

<h3>Route cells <small>server paginated table - <u>usage only for RESTAdapter</u></small></h3>

{{models-table-server-paginated data=model columns=columns}}
