<h1>Drag and drop file uploader using dropzonejs</h1>

{{drop-zone url='http://api.dev.local:8000/upload'}}
{{!drop-zone url='http://api.dev.local:8000/upload' clickable=true addRemoveLinks=true}}
{{!drop-zone url='http://api.dev.local:8000/upload' clickable=true addRemoveLinks=true autoProcessQueue=true}}
