<footer class="page-footer">
<p>Welcome Demo App in this Ember.js 3.2.2, Ember-cli 3.1.4, Ember-Data 3.1.1, jQuery 3.3.1, Firebase 3.9.0.
   Please click through and check all menu point and features.<br/>
   If you run this app from your own computer, don't forget to update Firebase parameters in
   <code>config/environment.js</code>
</p>
</footer>
