<div class="jumbotron text-center">
  <h1>{{headerMessage}}</h1>

  <p>Emails from social networks, media-sharing sites, <br/>
  dating services and other social sites will be shown here.</p>

  <p>To add or remove tabs click <a href="/">inbox settings.</a></p>


</div>
