<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}CRUD App{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        {{#nav-link-to 'invitations'}}Invite{{/nav-link-to}}
        {{#nav-link-to 'users'}}Users{{/nav-link-to}}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Collections<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {{#nav-link-to 'carousel'}}Carousel{{/nav-link-to}}
            {{#nav-link-to 'semantic'}}Semantic-UI{{/nav-link-to}}
            {{#nav-link-to 'menu-context'}}Context Menu{{/nav-link-to}}
            {{#nav-link-to 'libraries'}}Libraries{{/nav-link-to}}
            {{#nav-link-to 'authors'}}Authors{{/nav-link-to}}
            {{#nav-link-to 'books'}}Books{{/nav-link-to}}
            {{#nav-link-to 'contact'}}Contact{{/nav-link-to}}
            {{#nav-link-to 'render_nested'}}Nested{{/nav-link-to}}
            {{#nav-link-to 'posts'}}Posts{{/nav-link-to}}
            {{#nav-link-to 'widgets'}}Widget{{/nav-link-to}}
            {{#nav-link-to 'panels'}}Panels{{/nav-link-to}}
            {{#nav-link-to 'shepherds'}}Guiding{{/nav-link-to}}
            {{#nav-link-to 'demo-modals'}}Modals{{/nav-link-to}}
            {{#nav-link-to 'demo-tables'}}Tables{{/nav-link-to}}
            {{#nav-link-to 'avatar'}}Avatar{{/nav-link-to}}
          </ul>
        </li>
        {{#nav-link-to 'editors'}}Editor{{/nav-link-to}}
        {{#nav-link-to 'auth'}}Logins{{/nav-link-to}}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {{#nav-link-to 'about'}}About{{/nav-link-to}}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Admin<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {{#nav-link-to 'admin.users'}}Users{{/nav-link-to}}
            {{#nav-link-to 'admin.invitations'}}Invitations{{/nav-link-to}}
            {{#nav-link-to 'admin.contacts'}}Contacts{{/nav-link-to}}
            {{#nav-link-to 'admin.roles'}}Roles{{/nav-link-to}}
            {{#nav-link-to 'signatures'}}Signature Pad{{/nav-link-to}}
            <li role="separator" class="divider"></li>
            {{#nav-link-to 'admin.seeder'}}Seeders{{/nav-link-to}}
            <li role="separator" class="divider"></li>
            {{#nav-link-to 'admin.posts.index'}}Posts{{/nav-link-to}}
            {{#nav-link-to 'admin.posts.new'}}New Posts{{/nav-link-to}}
            <li role="separator" class="divider"></li>
            {{#nav-link-to 'markdowns'}}Render Markdown{{/nav-link-to}}
            {{#nav-link-to 'attachments'}}Upload Files v1{{/nav-link-to}}
            {{#nav-link-to 'uploads'}}Upload Files v2{{/nav-link-to}}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
