<h1>Render Nested Navigation Sidebar together with a main view</h1>

<div style="float:left">
  {{partial 'menu'}}
</div>

<div style="float:left, margin-left: 30%">
  {{outlet}}
</div>

<h5>Please select report</h5>
