<h1>Roles</h1>
<div class="panel panel-default">
<div class="panel-heading"><i class="fa fa-info-circle fa-3x"></i></div>
  <div class="panel-body">
    <p>Listing of the roles</p>
  </div>
</div>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'index' tagName="button" class="button primary medium active"}}Home{{/link-to}}
  </ul>
</div>

{{outlet}}
