<h1>Add a New Role</h1>

<div class="well-short">
  <ul class="nav nav-pills">
    {{#link-to 'index' tagName="button" class="button primary medium active"}}Home{{/link-to}}
  </ul>
</div>

{{outlet}}
